{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col l6 offset-l3 m8 offset-m2  s12 ">
          <div class="card bg-gray darken-1 brrr hoverable">
            <div class="card-title bg-gr-main center center-align">
                <img src="{% static 'app/img/logo.png' %}">
            </div>
            <div class="card-content tx-smoke">


              <form class="row">
                  <div class="row">

                      <div class="col s9">
                            <input id="input_text" type="text" class="tx-smoke bttt center center-align">
                      </div>

                       <div class="col s3 center-align horizontal">
                        نام کاربری
                      </div>

                      </div>


              </form>

             <form class="row">
                 <div class="col s6 center-align center">
                    اینتر میلان
                      <div class="input-field ">
                        <input id="input_text" type="number" class="tx-smoke bttt center center-align" min="1" max="20">
                        <label for="input_text" class="tx-yl-main">تعداد گل</label>
                      </div>
                 </div>


                 <div class="col s6 center-align center">
                     پی‌اس‌وی آیندهوون
                      <div class="input-field ">
                        <input id="input_text" type="number" class="tx-smoke bttt center center-align" min="1" max="20">
                        <label for="input_text" class="tx-yl-main">تعداد گل</label>
                      </div>
                 </div>



              </form>



            </div>
              <div class="center-align center">
                <a href="#" class="tx-gr-alt bg-yl-main center-align btn btn-large bttt pulse">ثبت حدس پیشبینی</a>
                  <br>
                  <br>
                  <!-- Modal Trigger -->
                  <a class="btn btn-small bg-gr-main tx-smoke bttt modal-trigger" href="#modal1">قوانین دریافت هدیه</a>

                  <!-- Modal Structure -->
                  <div id="modal1" class="modal">
                    <div class="modal-content">
                      <h4>قوانین دریافت هدیه</h4>
                      <p>
                          برای به دست آوردن جایزه از این رویداد، باید حداقل یک واریز موفق در سایت ما داشته باشید و آخرین معامله در حسابتان نباید فعالیت رسانه های اجتماعی باشد.مقدار واریز شده به عنوان فری بت معرفی شده است.بعد از شرط بندی با ضریب حداقل 1.90، جایزه به طور اتوماتیک بدون تبدیل به حساب شما منتقل خواهد شد.بانس های رویداد در عرض ۲۴ ساعت بعد از پایان بازی به حساب شما اضافه می شود

                      </p>
                    </div>
                    <div class="modal-footer">
                      <a href="#!" class="modal-close waves-effect waves-green btn-flat">بستن</a>
                    </div>
                  </div>

              </div>
            <div class="card-action bg-gr-main brrr center-align">

            </div>
          </div>
        </div>
    </div>
</div>
<br>{% endblock content %}